#en01 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:30px;
	background-image:url(../imgs/en01.png);
	
}
#en02 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:80px;
	background-image:url(../imgs/en01.png);
	
}
#en03 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:146px;
	background-image:url(../imgs/en01.png);
	
}
#en04 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:208px;
	background-image:url(../imgs/en01.png);
	
}
#en05 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:253px;
	background-image:url(../imgs/en01.png);
	
}