/*
configuracao da posicao dos carros na tela
*/
.en1 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:30px;
	background-image:url(../imgs/en01.png);
	
}
.en2 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:80px;
	background-image:url(../imgs/en01.png);
	
}
.en3 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:130px;
	background-image:url(../imgs/en01.png);
	
}
.en4 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:180px;
	background-image:url(../imgs/en01.png);
	
}
.en5 {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:230px;
	background-image:url(../imgs/en01.png);
	
}

.en6 {
	width:32px;
	height:32px;
	position:absolute;
	left:16px;
	top:330px;
	background-image:url(../imgs/en01.png);
	
}
.en7 {
	width:32px;
	height:32px;
	position:absolute;
	left:16px;
	top:380px;
	background-image:url(../imgs/en01.png);
	
}
.en8 {
	width:32px;
	height:32px;
	position:absolute;
	left:16px;
	top:430px;
	background-image:url(../imgs/en01.png);
	
}
.en9 {
	width:32px;
	height:32px;
	position:absolute;
	left:16px;
	top:480px;
	background-image:url(../imgs/en01.png);
	
}
.en10 {
	width:32px;
	height:32px;
	position:absolute;
	left:16px;
	top:530px;
	background-image:url(../imgs/en01.png);
	
}

/*
se tiver carro com tamanho diferente tem que fazer um classe nova par ele
*/
.animaCarro {
	background-image:url(../imgs/en01.png);
	animation:playCarro .5s steps(2) infinite;

       -webkit-animation: playCarro .5s steps(2) infinite;
       -moz-animation: playCarro .5s steps(2) infinite;
       -ms-animation: playCarro .5s steps(2) infinite;
       -o-animation: playCarro .5s steps(2) infinite;
}

@keyframes playCarro {
	from {background-position:0px;}
	to {background-position:-64px;}
}


@-webkit-keyframes playCarro {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-moz-keyframes playCarro {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-ms-keyframes playCarro {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-o-keyframes playCarro {
   from { background-position:0px; }
     to { background-position: -64px; }
}