@font-face {
	font-family: Titulo;
	src:url(../fonts/speed+.ttf);
}

h1 {
	font-family: Titulo;
	font-size: 40px;
	color: blue;
}

body{
	background-color: white;
}

#container{
	width: 950px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#fundo{
	width: 950px;
	height: 630px;
	background-image: url(../imgs/fundo.jpg);
	border-color: white;
	border-style: solid;
}
#inicio{
	width: 350px;
	height: 200px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px
}
#qtCarro{


	font-family: Titulo;
	font-size: 20px;
	color: blue;
	text-align: center;

	position:absolute;
	left:190px;
	top:600px;
	
}

#qtPontos{


	font-family: Titulo;
	font-size: 20px;
	color: blue;
	text-align: center;

	position:absolute;
	left:320px;
	top:600px;
	
}
.vidaImg{
	width:32px;
	height:32px;
	position:absolute;	
	background-image:url(../imgs/vida.png);	
}

.botao{
	cursor: pointer;
	background-color: green;
	text-align: center;
	width: 75px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	color: white;
}

#fimPerda{
	width: 350px;
	height: 200px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
	display: none;
}
#fimVitoria{
	width: 350px;
	height: 200px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
	display: none;
}
#coins {
	width:32px;
	height:32px;
	position:absolute;
	left:918px;
	top:30px;
	background-image:url(../imgs/coin6.png);
}
.animaCoins {
	background-image:url(../imgs/coin6.png);
	animation:playCoins .5s steps(2) infinite;

       -webkit-animation: playCoins .5s steps(2) infinite;
       -moz-animation: playCoins .5s steps(2) infinite;
       -ms-animation: playCoins .5s steps(2) infinite;
       -o-animation: playCoins .5s steps(2) infinite;
}

@keyframes playCoins {
	from {background-position:0px;}
	to {background-position:-64px;}
}


@-webkit-keyframes playCoins {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-moz-keyframes playCoins {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-ms-keyframes playCoins {
   from { background-position:0px; }
     to { background-position: -64px; }
}

@-o-keyframes playCoins {
   from { background-position:0px; }
     to { background-position: -64px; }
}

